{% extends "layouts/bootstrap.html" %}

{%block head%}
<link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">
<script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>
<style>
  span.btn.btn-primary.btn-sm.btn-block.formcomponent.drag-copy {
    background: #394e6a;
    border-color: #394e6a;
  }

  .btn-primary {
    background: #394e6a;
    border-color: #394e6a;
  }
</style>
{%endblock%}


{%block page_header%}
<div>
  <h1 class="h2 base-content-100 text-capitalize"><a href="{{url_for(" main.questionnaires")}}">Questionários</a> /
    {{questionnaire.name}}</h1>
  {%if questionnaire.enabled%}<span class="badge badge-success">Ativado</span>{%else%}<span
    class="badge badge-danger">Disabled</span>{%endif%}
  {%if questionnaire.published%}<span class="badge badge-success">Publicado</span>{%else%}<span
    class="badge badge-danger">Não Publicado</span>{%endif%}
</div>
{%endblock%}
{%block page_header_buttons%}
<button type="button" class="btn btn-light ml-2" data-toggle="modal" data-target="#exampleModalCenter">
  Configurações
</button>
<a href="{{url_for(" main.render_questionnaire",qid=questionnaire.id)}}"
  class="btn btn-md btn-light mx-2">Pré-vizualização</a>
<button id="save-btn" onclick="saveForm()" class="btn btn-md btn-success">Salvo</button>
<button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#publish-modal">
  Publicar
</button>

{%endblock%}

{%block content%}
{%if not questionnaire.published or not questionnaire.enabled%}
<div class="alert alert-warning" role="alert">
  {%if not questionnaire.published%}O formulário não foi publicado. Quando estiver completo, favor publicar o
  formulário.{%endif%}{%if not questionnaire.enabled%} O formulário não está ativado. Por favor, ative o formulário
  quando estiver pronto.{%endif%}
</div>
{%endif%}
<div id="builder"></div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Configurações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name" class="mb-2">Nome</label>
            <input id="edit-name" type="text" placeholder="Insira um nome" value="{{questionnaire.name}}"
              class="form-control" />
          </div>
          <div class="form-group col-md-6">
            <label for="description" class="mb-2">Descrição</label>
            <input id="edit-description" type="text" placeholder="Insira uma descrição"
              value="{{questionnaire.description}}" class="form-control" />
          </div>
          <div class="form-group col-md-6">
            <label for="vendor" class="mb-2">Fornecedor</label>
            <input id="edit-vendor" type="text" placeholder="Insira o nome do fornecedor"
              value="{{questionnaire.vendor}}" class="form-control" />
          </div>
          <div class="form-group col-md-6">
            <label class="mb-2">Ativado</label>
            <select id="edit-enabled" class="form-control">
              <option value="true" {%if questionnaire.enabled%}selected{%endif%}>True</option>
              <option value="false" {%if not questionnaire.enabled%}selected{%endif%}>False</option>
            </select>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary save-edit-btn">Salvar alterações</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="publish-modal" tabindex="-1" role="dialog" aria-labelledby="publish-modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Publicar questionário?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza de que deseja publicar o questionário? Depois de publicado, você não poderá editar o formulário e o
        fornecedor poderá fornecer uma resposta.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary save-publish-btn">Sim, Publicar</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block extrajs%}
<script>
  $(document).on('click', '.save-publish-btn', function () {
    var data = {
      "enabled": true
    }
    $.ajax({
      type: "PUT",
      url: `/api/v1/questionnaires/{{questionnaire.id}}/publish`,
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (data) {
        location.reload();
        return (data)
      },
      error: function (errMsg) {
        toast(errMsg["responseJSON"]["message"], "error")
        return (errMsg);
      }
    })
  });
  $(document).on('click', '.save-edit-btn', function () {
    var id = $(this).data('questionnaire-id')
    var enabled = $("#edit-enabled").val() === "true" ? true : false;
    var data = {
      "name": $("#edit-name").val(),
      "description": $("#edit-description").val(),
      "vendor": $("#edit-vendor").val(),
      "enabled": enabled
    }
    $.ajax({
      type: "PUT",
      url: `/api/v1/questionnaires/{{questionnaire.id}}`,
      data: JSON.stringify(data),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (data) {
        toast("Configuração do questionário editado.")
        $('#exampleModalCenter').modal('hide')
        location.reload();
        return (data)
      },
      error: function (errMsg) {
        toast(errMsg["responseJSON"]["message"], "error")
        return (errMsg);
      }
    })
  });

  var gen_form = {};
  var options = {
    noDefaultSubmitButton: true,
    builder: { premium: false, data: false }
  }
  var formjs = Formio.builder(document.getElementById('builder'), {{ questionnaire.form | tojson }},options).then(function (form) {
    form.on("change", function (e) {
      gen_form = form.schema;
      $("#save-btn").attr("class", "btn btn-md btn-warning");
      $("#save-btn").html('Salvar alterações<div class="spinner-grow text-light ml-2" style="height:1rem;width:1rem" role="status"><span class="sr-only">Carregando...</span></div>')
    });

  });
  function saveForm() {
    fetch("/api/v1/questionnaires/{{questionnaire.id}}/form", {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ "form": gen_form })
    })
      .then((response) => {
        if (response.ok) {
          toast("Questionário salvo com sucesso!")
          $("#save-btn").attr("class", "btn btn-md btn-success");
          $("#save-btn").html("Saved")
          return;
        }
        toast("Impossível salvar o questionário", "error")
        throw new Error('Something went wrong');
      })
      .catch((error) => {
        toast("Algo deu errado... consulte o terminal", "error")
        console.log(error)
      });
  }

  //  var form = Formio.builder(document.getElementById('builder'));
  //  console.log(form)

</script>
{%endblock%}